<form>
    <table>
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
        <br>  <br>   <br>  <br>
        <div class="form-row mb-4">

        <tr>
            <td>


        <div class="col">
            <br>  <br>
            {{ form_errors(form.nomEvent) }}
            {{ form_label(form.nomEvent,"Nom : " )}}
            {{ form_row(form.nomEvent,{'attr': {'class': 'form-control'}}) }}
        </div>

            </td><td>
        <div class="col">

            <br>  <br>
            {{ form_errors(form.descriptionEvent) }}
            {{ form_label(form.descriptionEvent,"Description : " )}}
            {{ form_row(form.descriptionEvent,{'attr': {'class': 'form-control'}}) }}
        </td>
        </div>
        </tr>
        <tr>
            <td>

        <div class="col">
            <br>  <br>

            {{ form_errors(form.isactive) }}
            {# {{ form_label(form.isactive) }}  #}

            {{ form_row(form.isactive,{'attr': {'class': 'form-control'}}) }}

        </div>
            </td>
            <td>
        <div class="col">
            <br>  <br>
            {{ form_errors(form.dateDebEvent) }}
            {{ form_label(form.dateDebEvent,"Date Début : " )}}
            {{ form_row(form.dateDebEvent,{'attr': {'class': 'form-control'}}) }}

        </div>
            </td>
        </tr>
        <tr>
            <td>
        <div class="col">

            <br>  <br>
            {{ form_errors(form.dateFinEvent) }}
            {{ form_label(form.dateFinEvent,"Date Fin : " )}}
            {{ form_row(form.dateFinEvent,{'attr': {'class': 'form-control'}}) }}

        </div>
            </td>
            <td>
        <div class="col">
            {{ form_errors(form.categoriee) }}
            {# {{ form_label(form.categoriee) }}  #}
            {{ form_row(form.categoriee,{'attr': {'class': 'form-control'}}) }}

        </div>
            </td>
        </tr>
        <tr>
            <td>
        <div class="col">
<br>  <br>
            {{ form_errors(form.imageevent) }}
            {{ form_label(form.imageevent,"Image : " )}}
            {{ form_row(form.imageevent,{'attr': {'class': 'form-control'}}) }}

        </div>
            </td><td>
        <div class="col">

            <br>  <br>
            {{ form_errors(form.nbr_Participant) }}
            {{ form_label(form.nbr_Participant," Participant : " )}}
            {{ form_row(form.nbr_Participant,{'attr': {'class': 'form-control'}}) }}


        </div>
            </td>
        </tr>
        {{ form_end(form) }}

        </div>
        <tr> <td><br></td>
            <td>
                <input type="submit" name="time" class="mb-4 btn btn-primary">
            </td>
        </tr>
    </table>

</form>