{% extends 'BaseFront.html.twig' %}
{% block body %}



    <a href="{{ path('front') }}" class="btn btn-danger">Main </a>
    <h3></h3>
<table style="width:90%", class="center" border="1" bgcolor="#d3d3d3">
    <thead>
        <tr>
            <td>Titre</td>
            <td>Desc</td>
            <td>ImgUml</td>

        </tr>
    </thead>
    <tbody>
    {% for regime in reg %}
    <tr>
        <td>{{ regime.Titre }}</td>
        <td>{{ regime.Description }}</td>
        <td>{{ regime.ImgUml }}</td>
    </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
        {% endfor %}

    </tbody>
    </table>
    <h1></h1>
    <a href="{{ path('client') }}" class="btn btn-danger">Repas </a>
    <h1></h1>

{% endblock %}