{% extends 'backoffice.html.twig' %}

{% block title %}Lost & Found Objects{% endblock %}

{% block body %}

    <h1>Lost & Found</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Status</th>
                <th>Adress</th>
                <th>SecCategorie</th>
                <th>Categorie</th>


                <th>Date</th>


                <th>Photo</th>

                <th>Details</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            {% if produit.Status =='Found' %}
            <tr>

                <td>{{ produit.Status }}</td>
                <td>{{ produit.Adress }}</td>
                <td>{{ produit.SecCategorie }}</td>
                <td>{{ produit.Categorie }}</td>

                <td>{{ produit.Date ? produit.Date|date('Y-m-d H:i:s') : '' }}</td>
{% if produit.photo =='' %}
                <td><img src ="{{ asset('lastone/assets/img/introuvable.png')}}"
                         alt =""  width="100" height="100"></td>
                {% else %}
                <td><img src ="{{ asset('uploads/images/' ~ produit.photo) }}"
                         alt =""  width="100" height="100"></td>
{% endif %}
                <td>{{ produit.details }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a> |
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>


{% endblock %}
