<html>
{% block stylesheets %}
    <style>
        h2{

            background-color: lightgrey;
        }
        th, td {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #3b3f5c;
            color: #e3e4eb;
        }
        table{
            width: max-content;
        }

    </style>
{% endblock %}



{% block body %}


    <center>
        <h2> Le Produit : {{ produit.nomProduit }} </h2>

        <table  >

            <thead>
            <tr>
                <th>ID</th>
                <th>Nom Produit</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Reports</th>



            </tr>
            </thead>

            <tbody>

            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nomProduit }}</td>
                <td>{{ produit.description|raw }}</td>
                <td>{{ produit.prix }} DT</td>
                <td>{{ produit.quantite }} pièce(s)</td>
                <td>{{ produit.reports }} report(s)</td>




            </tr>


            </tbody>
        </table>
    </center>




{% endblock %}
</html> 